.profile-picture {
    height: 100%;
    width: 290px;
/*border: solid 1px black;*/
border-radius: 50%;
    margin: 28px;

}
.summary {
/*border: 1px solid black;*/
background-color: dodgerblue;
    color: whitesmoke;
    float: right;
    display: block;
    margin: 32px 0 32px 32px;
    padding: 16px;
}

.summary h3:after {
    content: "";
    display: block;
    border-bottom: 3px solid whitesmoke;
}


.projects h2 {
    color: dodgerblue;
}

.projects h2:after {
    content: "";
    display: block;
    border-bottom: 3px solid dodgerblue;
}

h4 {
    font-family: Baskerville;
}
.sidebar {
    max-width: 400px;
/*border: 1px solid black;*/
}


ul {
    list-style-type: none;
    padding-right: 49px;
}

.skills ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.skill {
    background-color: dodgerblue;
    color: whitesmoke;
}

.education h3:after {
    content: "";
    display: block;
    border-bottom: 3px solid dodgerblue;
}

.skills h3:after {
    content: "";
    display: block;
    border-bottom: 3px solid dodgerblue;
}

.soft-skills h3:after {
    content: "";
    display: block;
    border-bottom: 3px solid dodgerblue;
}

.education h3, .skills h3, .soft-skills h3 {
    color: dodgerblue;
}

.education h5 {
    color: dodgerblue;
}


li {
    padding-top: 16px;
    /*font-size: 18px;*/
}

.projects {
    margin-top: 16px;
    margin-left: 16px;
    padding: 32px;
}

.project-name {
    font-size: 24px;
}